body {
    background-color: #f8edf8;
    font-family: -apple-system;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f5e6eb;
}

header>.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>img {
    height: 100px;
    width: 150px;
}

header .cabecalho>a {
    text-decoration: none;
    padding: 10px;
}

header .cabecalho>a:hover {
    color: #FF00FF;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rodape {
    background-color: #ec97af;
    height: 150px;
}

.formulario{
    background-color: #f5e6eb;
    margin: 10px 100px;
    padding: 10px;
}

.espacamento{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h3{
    font-size: xx-large;
    text-align: center;
}

input[type="text"]{
    width: 100%;
    border: 1px solid deeppink;
    box-sizing: border-box;
    padding: 10px 8px;
    margin: 6px 0;
}

input[type= "number"]{
    width: 30%;
    border: 1px solid deeppink;
    padding: 10px 8px;
    margin: 6px 0;
}

input[type= "date"]{
    width: 30%;
    border: 1px solid deeppink;
    padding: 10px 8px;
    margin: 6px 0;
}


button{
    width: 100%;
    padding: 8px;
    cursor: pointer;
    margin: 8px;
    border-color: #ff00cc;
}
