body{
   background-color: #E6E6FA;
   font-family:Georgia, 'Times New Roman', Times, serif
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #f0b7f7;
}

header > img{
    height: 100px;
    width: 150px;
}

header > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav > a:link{
    text-decoration: none;
    padding: 0 10px;
}

header nav > a:hover{
    color: #FF00FF;
}


.conteudo{
    display: flex;
    justify-content: space-between;

}

.conteudo > .box1{
    background-color: #FFE4E1;
    width: 80%;
    height: 400px;
    flex: 1;
}

.conteudo > .box2{
    background-color: 	#FFF0F5;
    width: 20%;
    height: 400px;
    flex: 4;
}
.forms{
    height: 500px;
    background-color: rgb(255, 244, 251);
    text-align: center;
    padding-top: 5px;
}

.rodape{
    background-color: #D8BFD8;
    height: 180px;
}

table, th, td {
    border: 2px black solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  table{
    width: 100%;
    border-collapse: collapse;
  }

  th{
    background-color: rgb(218, 105, 255);
    font-size: x-large;
  }

  td{
    background-color: rgb(221, 199, 255);
  }

  .pessoais{
    background-color: #f8dcf9;
  }

  .profissionais{
    background-color: rgb(195, 195, 255);
  }

  h3{
    text-align: center;
  }

  .pessoais, .profissionais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
  }

  .endereco , .cidadeestado ,  .formacao , .ocupacao, .enderecoaluno, .idadealuno, .emailaluno, .senha, .salvar {
    padding: 10px;
  
  }

  .nome, .localtrabalho, .nomealuno{
    padding: 3px;
    
  }

 


  